h3{
   text-align: center; 
   
       
}
button{
    margin-left: 600px;
    
}



div{
    height: 100px;
    width: 500px;
    border: 1px solid black;
    margin-top: 50px;
    margin-left: 400px;
}


